p1 {
  font-size: 20px;
  font-weight: bold;
}

.NError, .CError1, .CError2, .CError3, .LError {
  color: #ff0000;
}

div {
  margin-top: 50px;
  width: 600px;
  height: 300px;
  box-shadow: 1px 2px 1px 2px;
  border-radius: 5px;
  overflow-y: scroll;
}
